<h1><%= @workout.name %></h1>
<h2><%= @workout.description %></h2>
<img src="<%= @workout.image %>" alt="workout">
<form action="=/workout/<%= @workout.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @workout.user == current_user %>
        <button type="submit">Delete Workout</button>
    <% end %> 
</form>



 
