<form action="/login" method="post">
    <label><strong>Username:</strong></label>
    <input type="text" name="username">
    <label><strong>Password:</strong></label>
    <input type="password" name="password">
    <input type="submit" value="Login">

</form>