<h1>Welcome to the Sign up Page</h1>

<form action="/signup" method="post">
    <label><strong>Username:</strong></label>
    <input type="text" name="username">
    <label><strong>Password:</strong></label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">

</form>
<br>
<% if flash[:alert] %>
    <%= flash[:alert] %>
   <% end %> 
