<!DOCTYPE html>

  <head>
    <meta charset="utf-8" />

    <title>GloriousBurn</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
        <nav>
         <% if !logged_in? %>  
           <a href="/">Home</a>
           <a href="/signup">Sign Up</a>
           <a href="/login">Login</a>
          <% else %>
            <a href="/workoutlogs">Daily Logs</a>
            <a href="/logout">Log Out</a>
            <a href="/workouts">Workouts</a>
         <% end %>   
         </nav>

         

        <%= yield %>

        <%= "<div class='notice'>#{flash[:notice]}</div>" if flash[:notice] %>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
