<h1>Time to track your workouts!</h1>

<form action="/workoutlogs" method="POST">
    <lable>Date</label>
    <input type="date" name="workoutlog[created_at]" id="workoutlog_created_at"><br></br>
    
    <!-- <label>Workout Name</label>
    <input type="text" name="name"><br></br> -->
    
    <% Workout.all.each do |workout| %>
    <input type="checkbox" name="workoutlog[workout_id]" id="<%= workout.id %>" value="<%= workout.id %>"><%= workout.name %></input> 
    <% end %> 
    
    <label><h4>Number of Sets:</h4></label>
    <input type="number" name="workoutlog[sets]"id="workoutlog_sets">
        
    <label><h4>Number of Reps:</h4></label>
    <input type="number" name="workoutlog[reps]" id="workoutlog_reps">

    <input type="submit" value="Submit">
</form>
<p><%= @error %></p>
