<h1>Time to track your workouts!</h1>

<form action="/workoutlogs" method="POST">
    <label>Date</label>
    <input type="date" name="workoutlog[created_at]"><br></br>
    
    <label>Workout Name</label>
    <select name="workoutlog[workout_id]">
    <% Workout.all.each do |workout| %>
    <option value="<%= workout.id %>"><%= workout.name %></option>
    <% end %> 
    </select>
    
    <label><h4>Number of Sets:</h4></label>
    <input type="number" name="workoutlog[sets]">
        
    <label><h4>Number of Reps:</h4></label>
    <input type="number" name="workoutlog[reps]">

    <input type="submit" value="Submit">
</form>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %> 
